.navbar {

    position: fixed;

    top: 15px;

    left: 50%;

    transform: translateX(-50%);

    width: 92%;

    max-width: 1280px;

    height: 72px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 30px;

    background: #121c3a;
        

    backdrop-filter: blur(18px);

    -webkit-backdrop-filter: blur(18px);

    border: 1px solid rgba(255,255,255,.15);

    border-radius: var(--radius);

    z-index: 9999;

    transition: all .4s ease;

}


.navbar:hover {

    box-shadow:
        0 18px 40px rgba(37,99,235,.40);

}


/* Logo */

.navbar-logo {

    display: flex;

    align-items: center;

    gap: 12px;

}


.navbar-logo img {

    width: 88px;

    height: 88px;

    object-fit: contain;

}


.navbar-logo span {

    color: white;

    font-size: 20px;

    font-weight: 700;

}



/* Links */

.navbar-links {

    display: flex;

    align-items: center;

    gap: 35px;

    list-style: none;

    margin: 0;

    padding: 0;

}


.navbar-links li {

    list-style: none;

}


.navbar-links a {

    text-decoration: none;

    color: white;

    font-size: 15px;

    font-weight: 500;

    transition: all .3s ease;

    cursor: pointer;

}


.navbar-links a:hover {

    color: #BFDBFE;

}



/* Buttons */

.navbar-buttons {

    display: flex;

    align-items: center;

    gap: 15px;

}



/* Login Button */

.login-btn {

    color: white;

    padding: 10px 25px;

    border: 1px solid rgba(255,255,255,.35);

    border-radius: 12px;

    background: rgba(255,255,255,.10);

    transition: all .3s ease;

}


.login-btn:hover {

    background: white;

    color: #1E3A8A;

    transform: translateY(-3px);

}



/* Register Button */

.register-btn {

    background: white;

    color: #1E3A8A;

    padding: 10px 25px;

    border-radius: 12px;

    font-weight: 700;

    transition: all .3s ease;

}


.register-btn:hover {

    background: #DBEAFE;

    transform: translateY(-3px);

}



/* Mobile Responsive */

@media (max-width:768px) {

    .navbar {

        width: 95%;

        padding: 0 15px;

    }


    .navbar-links {

        display: none;

    }


    .navbar-logo span {

        font-size: 16px;

    }


    .login-btn,
    .register-btn {

        padding: 8px 14px;

        font-size: 13px;

    }

}