.chart-card{

    margin-top:40px;

    background:white;

    border-radius:20px;

    padding:30px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.chart-card h2{

    margin-bottom:25px;

    color:#0F172A;

}